<?xml version="1.0"?>
<robot name="Wheatley">
	<material name="metal">
		<color rgba="0.73 0.73 0.73 1"/>
	</material>
	
	<material name="rubber">
		<color rgba="0 0 0 1"/>
	</material>

	<link name="robot">
		<visual>
			<origin xyz="0 0 0.06"/>
			<geometry>
				<cylinder length="0.08" radius="0.1125"/>
			</geometry>
			<material name="metal"/>
		</visual>
		<visual>
			<origin xyz="0 0 0.18"/>
			<geometry>
				<box size="0.165 0.075 0.175"/>
			</geometry>
			<material name="metal"/>
		</visual>
	</link>

	<link name="front_marker">
		<visual>
			<geometry>
				<box size="0.01 0.01 0.01"/>
			</geometry>
			<material name="red">
				<color rgba="1 0 0 1"/>
			</material>
		</visual>
	</link>

	<link name="wheel_left">
		<visual>
			<origin rpy="0 1.57075 0" xyz="0 0 0"/>
			<geometry>
				<cylinder length="0.025" radius="0.05"/>
			</geometry>
			<material name="rubber"/>
		</visual>
	</link>

	<link name="wheel_right">
		<visual>
			<origin rpy="0 1.57075 0" xyz="0 0 0"/>
			<geometry>
				<cylinder length="0.025" radius="0.05"/>
			</geometry>
			<material name="rubber"/>
		</visual>
	</link>

	<joint name="robot_to_front_marker" type="fixed">
		<parent link="robot"/>
		<child link="front_marker"/>
		<origin xyz="0 0.111 0.105"/>
	</joint>

	<joint name="robot_to_left_wheel" type="fixed">
		<parent link="robot"/>
		<child link="wheel_left"/>
		<origin xyz="-0.112 0 0.05"/>
	</joint>

	<joint name="robot_to_right_wheel" type="fixed">
		<parent link="robot"/>
		<child link="wheel_right"/>
		<origin xyz="0.112 0 0.05"/>
	</joint>
	
	
	<sensor name="sensors/ir/front" update_rate="10">
		<parent link="robot"/>
		<origin xyz="0 0.112 0" rpy="0 0 0"/>
		<ray/>
	</sensor>

	<sensor name="sensors/ir/back" update_rate="10">
		<parent link="robot"/>
		<origin xyz="0 -0.112 0" rpy="0 0 3.14159"/>
		<ray/>
	</sensor>

	<sensor name="sensors/ir/left_front" update_rate="10">
		<parent link="robot"/>
		<origin xyz="-11.9 8.2 0" rpy="0 0 1.57075"/>
		<ray/>
	</sensor>

	<sensor name="sensors/ir/left_rear" update_rate="10">
		<parent link="robot"/>
		<origin xyz="-11.9 -8.2 0" rpy="0 0 1.57075"/>
		<ray/>
	</sensor>

	<sensor name="sensors/ir/right_front" update_rate="10">
		<parent link="robot"/>
		<origin xyz="11.9 8.2 0" rpy="0 0 -1.57075"/>
		<ray/>
	</sensor>

	<sensor name="sensors/ir/right_rear" update_rate="10">
		<parent link="robot"/>
		<origin xyz="11.9 -8.2 0" rpy="0 0 1.57075"/>
		<ray/>
	</sensor>
</robot>
