<!-- motor controller launch file -->

<launch>
	<include file="$(find xbox)/launch/joy.launch"/>

	<node pkg="xbox" type="xbox_node" name="xbox" output="screen">
		<rosparam command="load" file="$(find xbox)/config/settings.yaml"/>
		<remap from="~/twist" to="/motor_controller/twist"/>
		<remap from="~/direction" to="/executor/order"/>
	</node>
</launch>

