<!---->

<launch>
	<node pkg="navigation" type="navigation_node"
			name="navigator" output="screen" clear_params="true">
		<rosparam command="load" file="$(find navigation)/config/settings.yaml"/>
		<remap from="~/map_in" to="/map"/>
		<remap from="~/map_out" to="~/inflated_map"/>
		<remap from="~/executor_state" to="/executor/state"/>
		<remap from="~/executor_order" to="/executor/order"/>
	</node>
</launch>
