<!-- base -->

<launch>
	<rosparam command="load" file="$(find main)/config/measurements.yaml"/>
	<include file="$(find main)/launch/tf_world_to_map.launch"/>
	<include file="$(find main)/launch/tf_robot_to_camera.launch"/>
	<include file="$(find main)/launch/robot_model.launch"/>
	<include file="$(find main)/launch/arduino.launch"/>
	<include file="$(find sensors)/launch/ir.launch"/>
	<include file="$(find sensors)/launch/pose.launch"/>
	<include file="$(find motor_controller)/launch/motor_controller.launch"/>
</launch>
