<!---->

<launch>
    <node pkg="wall_following" type="wall_avoider_node"
        	name="wall_avoider" output="screen" clear_params="true">
        <rosparam command="load" file="$(find wall_following)/config/settings.yaml"/>
        <remap from="~/twist_out" to="/motor_controller/twist"/>
        <remap from="~/twist_in" to="~/twist"/>
    </node>
</launch>
