<!---->

<launch>
	<node pkg="sensors" type="ekf"
		name="ekf" output="screen" clear_params="true" ns="sensors">
		<rosparam command="load" file="$(find sensors)/config/ekf_settings.yaml"/>
		<remap from="~/map_in" to="/map"/>
		<remap from="~/simulated_ir_distances" to="~/distances"/>
	</node>
</launch>

