<!-- wall avoider launch file -->

<launch>
    <node pkg="object_detection" type="object_detection_node"
        name="object_detection" output="screen" clear_params="true" respawn="true"> 
    </node>
    <node pkg="object_recognizer" type="color_detector_node"
        name="object_recognizer" output="screen" clear_params="true"> 
    </node>

</launch>
