<!-- wall avoider launch file -->

<launch>
    <node pkg="wall_following_controller" type="wall_following_controller_node"
        name="wall_avoider" output="screen" clear_params="true">
        <rosparam command="load" file="$(find wall_following_controller)/config/settings.yaml"/>
        <remap from="~/twist_out" to="/motor_controller/twist"/>
        <remap from="~/twist_in" to="~/twist"/>
    </node>
</launch>
